*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}
.sidebar{
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: crimson;
    z-index: 100;
}
.sidebar-brand{
    color: white;
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
}
.sidebar-brand span{
    display: inline-block;
    padding-right:1rem;
}
.sidebar-brand h1{
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
.sidebar-brand img{
    width: 25px;
    height: 25px;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu ul{
    list-style-type: none;
}
.sidebar-menu ul li{
    width: 100%;
    margin-bottom: 1.3rem;
    /* padding-left: 1rem; */
}
.sidebar-menu ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding-left: 1rem;
}
.sidebar-menu ul li a i{
    font-size: 20px;
    margin-right: 10px;
}
.sidebar-menu ul li a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.sidebar-menu ul li a.active{
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem; */
    color: crimson;
    border-radius: 10px 0px 0px 10px;
}
.main-content{
    margin-left:20%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px gray;
    width: 81%;
    position: fixed;
    left: 20%;
    top: 0;
    z-index: 100;
}
header h1{
    color:black;
}
header label{
    font-size: 1.7rem;
    padding-right: 1rem;
}
header .header-title{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* justify-content: space-between; */
}
.search-wrapper{
    border: 1px solid gray;
    border-radius:30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    width: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}
.user-wrapper small{
    display: inline-block;
    color: gray;
}
main{
    margin-top:85px;
    padding: 2rem 1.5rem;
    background: gray;
    min-height:calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 2rem;
    border-radius: 5px;     
}
.card-single div:last-child span{
    font-size: 3rem;
    color: crimson;
}
.card-single span:first-child span{
    color: gray;
}


