*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
}
.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: crimson;
}
.sidebar-brand{
    height: 19%;
    margin:10px;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 10px;
}
.sidebar-brand h1{
    margin: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
}
.sidebar-brand img{
    width: 25px;
    height: 25px;
}
.sidebar-menu{
    margin: 10px;
}
.sidebar-menu ul{
    list-style-type: none;
}
.sidebar-menu ul li{
    margin-bottom: 10px;
    padding-left: 10px;
}
.sidebar-menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
.sidebar-menu ul li a i{
    font-size: 20px;
    margin-right: 10px;
}
.main-content{
    margin-left: 345px;
}